        *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #000000;
    color: white;
}

header{
    /*background-color: #000000;*/
    background-color: #8c009f;
    color: rgb(241, 241, 241);
    padding: 5px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

main{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height:100% -50px;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px 25px;
}

.titulo_nav{
  padding: 10px 25px;
  font-family: 'Black Ops One', sans-serif;
  font-size: 26px;
}

.li{
  padding: 10px 25px;
  display: flex;
  justify-content: center;
}

.li:hover{
  background-color: #422244;
    padding: 10px 25px;
    border-radius: 25px;
}
a{
    text-decoration: none;
    color: white;
}

#inicio{
    display: flex;
    /*background: radial-gradient(circle at center, #1f0c1f, #000000);*/
    background: radial-gradient(circle at center, #1f0c1f, #000000);
    color: white;
    padding: 135px 0;
    scroll-margin-top: 4rem; /* usado quando tiver links na mesma pagina para que fique na margem correta do menu(header)*/
}

.esquerda{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.caixa_animacao{
}

.direita{
    width: 50%;
    display: flex;
    justify-content: right;
}

.descricao{
    font-size: 40px;
    color: #f7f7f7;
    font-family: 'Black Ops One', sans-serif;
}

.sou{
    display: flex;
    font-size: 40px;
    color: #f7f7f7;
    font-family: 'Black Ops One', sans-serif;
    margin-right: 10px;
}

.uniao{
  display: flex;
}

.image{
    width: 450px;
}

.maisobre{
    padding: 10px 15px;
    border: 2px solid #8c009f;
    border-radius: 25px;
    display: block;
    width: 115px;
    margin-top: 10px;
}

.maisobre:hover{
    background-color: #8c009f;
    padding: 10px 15px;
    border-radius: 25px;
}

.animacao {
    position: relative;
    font-size: 40px;
    color: darkorange;
    font-family: 'Black Ops One', sans-serif;
  }
  
.animacao::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background-image: linear-gradient(to left, #b208be74, #5070a11a);
    animation: aparecer 10s linear infinite;
    border-radius: 5px;

}

@keyframes aparecer {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
}

  footer{
    background-color: black ;
    display: flex;
    text-align: center;
    justify-content: center;
    bottom: 0;
  }

  /*habilidade*/
  #habilidades {
    background: radial-gradient(circle at center, #8c009f, #000000);
    scroll-margin-top: 10rem;
    height: 300px;
  }

  .habilidade {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    margin: 20px 15px;
    
  }

  .m_h {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
  }

  .ul{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
  }

  .label_habilidade{
    color: aliceblue;
    margin-top: 40px;
  }

  .caixa_habi{
    display: block;
    margin: 0 5px;
    width: 130px;
    height: 130px;
  }
  
/* sobre */

  #sobre{
    display: block;
    text-align: justify;
    width: 100%;
    margin: auto;
    left: auto;
    background-color: #e1a2ec;
    padding: 25px;
    border-radius: 15px;
    color: #000000;
    scroll-margin-top: 5rem;
  }

  .mim{
    background-color: #e1a2ec;
    width: 70%;
    margin: auto;
    left: auto;
    

  }

  h3{
  }

  .paragrafo{
    margin-top: 20px;
    
  }

  .assinado{
    display: flex;
    text-align: center;
    justify-content: right;
    margin-top: 20px;
  }

  /* contatos */

  #contato{
    padding: 20px;
    scroll-margin-top: 4rem;
    margin-top: 40px;
    background: radial-gradient(circle at center, #8c009f, #000000);
    scroll-margin-top: 10rem;
  }

  .redes{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
  }

  .rede{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
  }

  .texto_contato{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  #projetos{
    scroll-margin-top: 4rem;
  }
  
  /* footer*/

  #footer{
    margin: 50px 0px;
    
  }


/* Projetos */

#projetos{
  margin-top: 100px;
  scroll-margin-top: 10rem;
  background: radial-gradient(circle at center, #1f0c1f, #000000);
}

.projeto{
  display: flex;
  justify-content: center;
  margin: 10px 10px  100px 10px;
}

.texto_card{
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.card_projeto{
  padding: 20px;
}

.titulo_card{
  display: flex;
  background-color: #8c009f;
  padding: 20px 30px;
  border-radius: 5px 5px 0 0 ;
  justify-content: center;
  align-items: center;
}

.tecnologias{
  background-color: #e1a2ec;
  color: #000000;
  padding: 5px 10px;
  border-radius:  0 0 5px 5px;
}

.tecnologias:hover{
  background-color: #422244;
  color: #f7f7f7;
  border-radius: 0px;
}

.lista_card{
  background-color: darkorange;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0 0 5px 5px;
  display: none;
  box-shadow: 0px 0px 5px 0px rgb(255, 173, 72);
}

.list{
  color: #422244;
}

.tecnologias:hover ~ .lista_card {
  display: block;
  }