@charset "UTF-8";

*{
    font-size: sans-serif;
    padding: 0;
    margin: 0;
}


@media screen and (min-width:300px) and (max-width:728px){
    
    body{
        background-color: #000000;
        color: white;
    }

    header{
        /*background-color: #000000;*/
        background-color: #8c009f;
        color: rgb(241, 241, 241);
        padding: 5px 0px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
        box-shadow: 0px 0px 5px 0px #e1a2ec;
    }

    main{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        height:100% -50px;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #img_menu{
        padding-left: 50px;
        position:relative;
        display: block;
        width: 50px; 
        height: 50px;
    }

    #img_x{
        display: none;
        width: 50px; 
        height: 50px;
    }

    .lista{
        display: none;
    }
    #menu{
        display: none;
        border-radius: 8px;
        position: fixed;
    }

    .li{
        padding: 20px;
        color: #f7f7f7;
    }

    .li:hover{
        background-color: #8c009f;
    }

    .lista-menu{
        background-color: #1f0c1f;
        display: block;
        position: absolute;
        top: 70px;
        width: 340px;
        margin-left: 10px;
        list-style: none;
        padding:30px 0;

    }

    .lista-menu a{
        text-decoration: none;
    }

    .titulo_nav{
        padding: 15px 15px;
        font-family: 'Black Ops One', sans-serif;
        font-size: 22px;
        text-decoration: none;
        color: aliceblue;

      }
  /*  inicio */

      #inicio{
        margin-top: 70px;
        display: flex;
        /*background: radial-gradient(circle at center, #1f0c1f, #000000);*/
        background: radial-gradient(circle at center, #1f0c1f, #000000);
        color: white;
        padding: 100px 0;
        scroll-margin-top: 4rem;
        align-items: center;
        justify-content: center;
      }

    .direita{
        display: none;
    }

    .esquerda{
        display: flex;
    }

    .descricao{
        font-size: 20px;
        color: #f7f7f7;
        font-family: 'Black Ops One', sans-serif;
    }

    .uniao{
        display: flex;
      }

    .sou{
        display: flex;
        font-size: 20px;
        color: #f7f7f7;
        font-family: 'Black Ops One', sans-serif;
        margin-right: 10px;
    }

    .animacao {
        position: relative;
        font-size: 20px;
        color: darkorange;
        font-family: 'Black Ops One', sans-serif;
      }

      .animacao::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 25px;
        background-image: linear-gradient(to left, #b208be74, #5070a11a);
        animation: aparecer 10s linear infinite;
        border-radius: 5px;
    }

    @keyframes aparecer {
        0% { width: 0; }
        50% { width: 100%; }
        100% { width: 0; }
    }

    .maisobre{
        padding: 7px 10px;
        border: 2px solid #8c009f;
        border-radius: 25px;
        display: block;
        width: 120px;
        margin-top: 10px;
        color: aliceblue;
        text-decoration: none;
    }

    .maisobre:hover{
        background-color: #8c009f;
        padding: 7px 10px;
        border-radius: 25px;
    }

     /*habilidade*/
   #habilidades {
    background: radial-gradient(circle at center, #8c009f, #000000);
    scroll-margin-top: 10rem;
    height: 360px;
    padding: 30px 0;
  }

  .habilidade {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: block;
    margin: 10px 15px;
  }

  .caixa_habi{
    display: block;
    margin: 0 5px;
    width: 80px;
    height: 80px;
    margin-bottom:40px;
  }

  .ul{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .label_habilidade{
    color: aliceblue;
    margin-top: 10px;
    font-size: 14px;
  }

  .m_h {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
  }

  /* Projetos */

  #projetos{
    padding: 20px;
    scroll-margin-top: 4rem;
    margin-top: 40px;
    margin-bottom: 40px;
    background: radial-gradient(circle at center, #8c009f, #000000);
    scroll-margin-top: 10rem;
    
  }
  
  .carrossel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card_projeto{
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    }
  
    .descricao_projeto{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #8c009f;
      padding: 5px;
    }
  
    .imagem_projetos{
      width: 100%;
      height: 200px;
      display: flex;
      border-radius: 5px 5px 0 0;
    }
  
    .titulo_card:hover .imagem_projetos{
      transform: scale(1.3);
      transition: transform 0.5s ease;
    }
  
    .titulo_card{
      display: inline-block;
      overflow: hidden;
      display: flex;
    }
  
    .tecnologias{
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000000;
      background-color: #e1a2ec;
      padding: 5px;
    }
  
    .lista_card{
      display: none;
    }
  
    .tecnologias:hover + .lista_card{
      display: block;
      box-shadow: 0px 0px 5px 0px rgb(72, 72, 72);
      background-color: darkorange;
      padding-left: 20px;
      padding: 10px;
    }
  
    .texto_card{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px;
    }

  /* contatos */

  #contato{
    padding: 20px;
    scroll-margin-top: 4rem;
    margin-top: 40px;
    background: radial-gradient(circle at center, #8c009f, #000000);
    scroll-margin-top: 10rem;
  }

  .redes{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
  }

  .redes:hover{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    box-shadow: 0px 0px 10px 0px rgb(242, 227, 227);
  }

  .rede{
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
  }

  .texto_contato{
    display: flex;
    text-align: center;
    justify-content: center;
  }

  /* sobre*/

  #sobre{
    display: block;
    text-align: justify;
    width: 85%;
    margin: auto;
    left: auto;
    background-color: #e1a2ec;
    padding: 25px;
    border-radius: 15px;
    color: #000000;
    scroll-margin-top: 5rem;
  }

  .mim{
    background-color: #e1a2ec;
    width: 90%;
    margin: auto;
    left: auto;

  }

  .paragrafo{
    margin-top: 20px;
    font-size: 14px;
  }

  .assinado{
    display: flex;
    text-align: center;
    justify-content: right;
    margin-top: 20px;
    font-size: 14px;
  }
  
  /* footer*/

  #footer{
    margin: 50px 0px;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
  }





}